*{
 box-sizing: border-box; 
}

/* Login view */
/* Style the container */
.container {
position: relative;
border-radius: 5px;
padding: 20px 0 30px 0;
} 

.space-form{

}

/* style inputs and link buttons */
.btn-social-media {
  width: 49%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-flex;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}
/* Space social media icon and letters */
.space-media{
    margin-right: 7px;
}

/* Style the buttons social media*/
.fb {
    background-color: #3B5998;
    color: white;
  }
  
  .google {
    background-color: #dd4b39;
    color: white;
  }

  .login-social-media{
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    margin: 5px 0;
    
  }


/* Finish Login view */

.form-sign-up{
    display:none;
}